<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WWITDC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3D6B8161CCAB70A007E41C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D6B8321CCAB70B007E41C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3D6B83D1CCAB70B007E41C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
